.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    z-index: 10;
}

.nav-box {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    margin: 0 3% 0 3%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 10%;
    height: 5vh;
    margin: 1%;
}

.nav-logoname {
    margin: 0.7%;
}

.nav-logoname1 {
    padding-top: 1%;
    font-size: calc(65% + 0.25vw);
}

.nav-logoname2 {
    padding-bottom: 1%;
    font-size: calc(65% + 0.25vw);
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-var {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
}

.nav-item-menu{
    margin: 2%;
    font-size: calc(77.5% + 0.25vw);
}


body{
    position: static;
}


#loadingWrap {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
        
#loading {
    width: 5em;
    height: 5em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid rgba(255, 255, 255, 1);
    animation: loaderAnime 0.7s infinite linear;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 11;
} 
        
@keyframes loaderAnime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
        
.loadingNone {
    animation: loadingAnime 2s forwards;
}
        
@keyframes loadingAnime {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
} 

.Top {
    scroll-snap-align: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 11;
}

.title{
    width: 100%;
    position: relative;
    top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.h1 {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 8px;
    font-size: 80px;
    font-size: calc(240% + 0.25vw);
    border: solid;
    border-radius: 16px;
    /* margin: 0 10vh 0 10vh; */
}

.logo {
    position: relative;
    top: 31vh;
    left: 50%;
    width: 10vm;
    height: 10vh;
    position: relative;
    object-fit: cover; 
}

.menu{
    position: relative;
    top: 30vh;
    width: 100%;
}

.var{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.item-menu{
    margin: 3%;
    font-size: calc(130% + 0.25vw);
    background-color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.item-menu:hover {
    background-color: black;
    color: white;
}
  
.item-menu::before {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.arrowWrap {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 50vh;
    z-index: 21;
}


.arrow1 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow1 2s linear 0s infinite normal;
    animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow2 2s linear 0s infinite;
    animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
    position: relative;
    display: block;
    left: 50%;
}

.arrow1 span {
    margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
}

@keyframes arrow1 {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes arrow2 {
    0% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }
}

.scroll-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8vh;
    z-index: 22;
}

.service-box {
    scroll-snap-align: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    
    /* border: solid; */
}

.service-title-box {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.service-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.service-kind-box {
    width: 80%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10% 3% 10%;
    /* background-color: blue; */
}

.service-kind1,
.service-kind2,
.service-kind3 {
    width: 80%;
    margin: 1%;
    padding: 5%;
}

.kind-name-box,
.kind-img-box,
.kind-detile-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: none;

}
 
.kind-img1,
.kind-img2,
.kind-img3 {
    position: relative;
    width: 10vH;
    height: 10vh;
    object-fit: cover;
}



.kind-detile {
    /* padding-bottom: 1%; */
    font-size: calc(65% + 0.25vw);
}


/*  */
/*  */
.works-box {
    scroll-snap-align: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* border: solid; */
}

.works-title-box{
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.works-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.works-kind-box{
    width: 80%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.works-kind-box1,
.works-kind-box2,
.works-kind-box3 {
    width: 80%;
    margin: 1%;
    padding: 1%;
} 

.works-kind-title-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: none;
}

.works-kind-title{
    font-size: calc(65% + 0.25vw);
}

.works-kind-detile-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: none;
}

.works-kind-detile {
    font-size: calc(45% + 0.25vw);
    display: inline-block;
    
}

.works-more-box {
    width: 80%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
    
}
.works-more {
    border: solid;
    padding: 0 10% 0 10%;

}

/*  */
.about-box {
    scroll-snap-align: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* border: solid; */
}

.about-titlebox {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.about-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.about-sub-titlebox {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.about-sub-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
}

.about-kind-box{
    width: 80%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
}

.about-kinds-box{
    width: 80%;
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-kind-img-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    /* padding: 5%; */
}


.about-kind-img{
    position: relative;
    width: 25vm;
    height: 25vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about-kind-detile-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-kind-name-box{


}

.about-kind-name{


}

.about-kind-detile-name{


}

.about-kind-skill-box{


}

.about-kind-skill{


}

.about-kind-detile-slill {

}

.about-kind-mail-box{


}

.about-kind-mail{


}

.about-kind-detile-maile{


}

.lead-form{
    text-align: center;
    font-size:20px;
}

.contact-box {
    scroll-snap-align: start;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* border: solid; */
}


.contact-title-box{
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.contact-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.contact-info-box {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 3%;
}

.contact-ditaile-box {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.contact-detaile-kind-box {
    width: auto;

}

.contact-detaile-kind {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.contact-ditaile-left {
    width: 10vw;
    display: flex;
    align-items: center;
}

.contact-ditaile-left-box {

}

.contact-ditaile-right {
    width: 40vh;
    display: flex;
    /* align-items: center; */
    justify-content: start;

}

.contact-ditaile-right-box {

}

.inputs{
    float: left;
    width:300px;
}

input[type="text"],input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}

textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}

.btn-area{
    /* text-align: center; */
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}

input[type="reset"]{
    background: #aaa;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}

.footer {
    scroll-snap-align: start;
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}

p {
    color: black;
    font-size: calc(45% + 0.25vw);
}